[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
tqdm = "*"
numpy = "*"
pytest = "*"
pdbpp = "*"
bintrees = "*"

[requires]
python_version = "3"
